<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Dodavanje knjiga</title>
</head>
<body>
	<div th:fragment="centralniDiv"></div>
	<form method="post" action="Knjige/Create">
		<table class="forma">
			<caption th:text="#{dodajKnjigu.nazivTabele}"></caption>
			<tr><th th:text="#{knjiga.naziv}"></th><td><input type="text" name="naziv"/></td></tr>
			<tr><th th:text="#{knjiga.isbn}"></th><td><input type="number" min="13" name="ISBN"/></td></tr>
			<tr><th th:text="#{knjiga.izdavackaKuca}"></th><td><input type="text" name="izdavackaKuca"/></td></tr>
			<tr><th th:text="#{knjiga.autori}"></th><td><input type="text" name="autori"/></td></tr>
			<tr><th th:text="#{knjiga.godinaIzdavanja}"></th><td><input type="number" name="godinaIzdavanja"/></td></tr>
			<tr><th th:text="#{knjiga.opis}"></th><td><input type="text" name="kratakOpis"/></td></tr>
			
			<tr>
					<th th:text="#{knjiga.slika}"></th>
					<td>
						<th:block th:each="itSlika: ${slike}">
							<input type="checkbox" name="slikaId" th:value="${itSlika.id}"/><img th:src="${itSlika.imagePath}"><br>
						</th:block>
					</td>
			</tr>
			<tr>
					<th th:text="#{knjiga.zanr}"></th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}"/><span th:text="${itZanr.naziv}"></span><br>
						</th:block>
					</td>
				</tr>
			<tr><th th:text="#{knjiga.cena}"></th><td><input type="number" name="cena"/></td></tr>
			<tr><th th:text="#{knjiga.brojStr}"></th><td><input type="number" name="brojStranica"/></td></tr>
			
			<tr>
					<th th:text="#{knjiga.tipPoveza}"></th>
					<td>
						<input type="radio" name="tipPoveza" value="tvrdi" checked/><span>tvrdi</span>&nbsp;
						<input type="radio" name="tipPoveza" value="meki"/><span>meki</span>
					</td>
				</tr>
				<tr>
					<th th:text="#{knjiga.pismo}"></th>
					<td>
						<input type="radio" name="pismo" value="latinica" checked/><span>latinica</span>&nbsp;
						<input type="radio" name="pismo" value="cirilica"/><span>cirilica</span>
					</td>
				</tr>
				<tr><th th:text="#{knjiga.jezik}"></th><td><input type="text" name="jezik"/></td></tr>
				<tr><th></th><td><input type="submit" th:value="#{dodajKnjigu.dodaj}"/></td></tr>
		</table>
	</form>
	<p class="greska" th:text="${poruka}"></p>
	<ul>
			<li><a href="Knjige" th:text="#{knjiga.povratakNaSveKnjige}"></a></li>
		</ul>
</body>
</html>