<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/basePage.css"/>
	
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/tablesort.css"/>
	
	<title>Knjige</title>
</head>
<body>
<header class="zaglavlje">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		 <ul  id="locales" name="locales" th:with="language=${#locale.language}">
                      
                        <li style="display:none">
                            <span th:text="${#locale}"></span>
							<span th:text="#{lang.change}"></span>
                        </li>
                        
                        <li>
                            <a  th:text="#{lang.eng}" href="Internacionalizacija/promeniNaEngleski" ></a>
                        </li>
                        
                        <li>
                            <a  th:text="#{lang.sr}" href="Internacionalizacija/promeniNaSrpski"></a>
                        </li>
                     </ul>
                     
                    
	</header>
	<h2 th:text="#{knjige.knjizara}"></h2>
	<ul>

		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a  th:text="#{knjige.korisnici}" href="Korisnici" ></a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a th:text="#{knjige.komentari}" href="Komentari"></a></li>
		<li th:if="${session.prijavljeniKorisnik != null and not session.prijavljeniKorisnik.administrator}"><a th:text="#{knjige.zahtev}" href="/DodavanjeLoyaltyKartice"></a></li>
		 <li  th:unless="${session.prijavljeniKorisnik == null}" >
         <a th:text="#{knjige.ulogovaniKorisnik}" th:href="|Korisnici/Profil?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" > </a>
         </li>
            <li th:if="${session.prijavljeniKorisnik != null and not session.prijavljeniKorisnik.administrator}"><a th:text="#{knjige.korpa}" href="Korpa"></a> </li>
         <li th:unless="${session.prijavljeniKorisnik == null}"><a th:text="#{knjige.logOut}" href="Korisnici/Logout"></a></li>
     
		
	</ul>
	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="tabela">
				<caption th:text="#{knjige.nazivTabele}"></caption>
				<tr>
					<th th:text="#{knjige.rBr}"></th>
					<th th:text="#{knjige.slika}"></th>
					<th th:text="#{knjige.naziv}"> </th>
					<th th:text="#{knjige.cena}"></th>
				
					<th></th>
					
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th><input type="search" name="naziv" th:value="${param.naziv}?: null"/></th>
					<th>
						od:<input type="number" min="0.00" th:value="${param.cenaOd}?: '0.00'" name="cenaOd"/><br/>
						do:<input type="number" min="0.00" th:value="${param.cenaDo}?: '240.00'" name="cenaDo"/>
					</th>
					
					
					<th><input type="submit" th:value="#{knjige.pretrazi}"/></th>
				</tr>
				<tr th:each="itKnjiga,status:${knjige}">
					<td class="broj" th:text="${status.index+1}"></td>
					<td th:each="itSlika:${itKnjiga.imagePath}"><img th:src="@{${itSlika.imagePath}}"></td>
					<td><a th:href="|Knjige/Details?id=${itKnjiga.id}|" th:text="${itKnjiga.naziv}"></a></td>
					<td  class="broj" th:text="${itKnjiga.cena}"></td>
					
				</tr>
			</table>
		</form>
	<ul>
		<li th:if="${session.prijavljeniKorisnik !=null and session.prijavljeniKorisnik.administrator}"><a th:text="#{knjige.dodavanjeKnjige}" href="Knjige/Create"></a></li>
		   <li class="user" th:unless="${session.prijavljeniKorisnik == null or session.prijavljeniKorisnik.administrator}" >
                        
                        <form method="" action="Zelje">
                            <button type="submit" th:text="#{knjige.zelje}"></button>
                            <input type="hidden" name="korisnickoIme" th:value="${session.prijavljeniKorisnik.korisnickoIme}"/>
                        </form>
                        
                        </li>
	</ul>
	</div>
</body>


</html>