<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title ></title>
</head>
<body>
<!-- Forma za prikaz adminu -->
	<div th:fragment="centralniDiv">
	<form method="post" action="Knjige/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
		<input type="hidden" name="id" th:value="${knjiga.id}"/>
		<table class="forma">
			<caption th:text="#{knjiga.nazivTabela}"></caption>
			<tr><th th:text="#{knjiga.naziv}"></th><td><input type="text" th:value="${knjiga.naziv}" name="naziv"/></td></tr>
			<tr><th th:text="#{knjiga.isbn}"></th><td ><input disabled="disabled" type="number" th:value="${knjiga.ISBN}"  name="isbn"/></td></tr>
			<tr><th th:text="#{knjiga.izdavackaKuca}"></th><td><input type="text" th:value="${knjiga.izdavackaKuca}" name="izdavackaKuca"/></td></tr>
			<tr><th th:text="#{knjiga.autori}"></th><td><input type="text"  th:value="${knjiga.autori}" name="autori"/></td></tr>
			<tr><th th:text="#{knjiga.godinaIzdavanja}"></th><td><input type="number" min="4" th:value="${knjiga.godinaIzdavanja}" name="godinaIzdavanja"/></td></tr>
			<tr><th th:text="#{knjiga.opis}"></th><td><input type="text" th:value="${knjiga.kratakOpis}" name="opis"/></td></tr>
			<tr>
			<th th:text="#{knjiga.slika}"></th>
					<td>
						<th:block th:each="itSlika: ${slike}">
							<input type="checkbox" name="slikaId" th:value="${itSlika.id}" th:checked="${#lists.contains(knjiga.imagePath, itSlika)}"/><img th:src="@{${itSlika.imagePath}}"></span><br>
						</th:block>
					</td>
			</tr>
			<tr>
					<th th:text="#{knjiga.zanr}"></th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}" th:checked="${#lists.contains(knjiga.zanrovi, itZanr)}"/><span th:text="${itZanr.naziv}"></span><br>
						</th:block>
					</td>
				</tr>
				
			<tr ><th th:text="#{knjiga.cena}"></th><td><input type="number" min="4" th:value="${knjiga.cena}" name="cena"/></td></tr>
			<tr><th th:text="#{knjiga.brojStr}"></th><td><input type="number"  th:value="${knjiga.brojStranica}" name="brojStranica"/></td></tr>
			<tr>
				<th th:text="#{knjiga.tipPoveza}"></th>
				<td>
					<input type="radio" name="tipPoveza" value="tvrdi" th:checked="${#strings.equals(knjiga.tipPoveza,'tvrdi')}"/><span>tvrdi</span>&nbsp;
					<input type="radio" name="tipPoveza" value="meki" th:checked="${#strings.equals(knjiga.tipPoveza,'meki')}"/><span>meki</span>
				</td>
			</tr>
			<tr>
					<th th:text="#{knjiga.pismo}"></th>
					<td>
						<input type="radio" name="pismo" value="latinica" th:checked="${#strings.equals(knjiga.pismo, 'latinica')}"/><span>latinica</span>&nbsp;
						<input type="radio" name="pismo" value="cirilica" th:checked="${#strings.equals(knjiga.pismo, 'cirilica')}"/><span>cirilica</span>
					</td>
				</tr>
			<tr><th th:text="#{knjiga.jezik}"></th><td><input type="text"  th:value="${knjiga.jezik}" name="jezik"/></td></tr>
			<tr><th th:text="#{knjiga.porucivanje}"></th><td><input th:value=${knjiga.brojKnjiga} type="number" value="0" min="0"  onkeyup="if(this.value<0){this.value= this.value * -1}" name="brojKnjiga"/></td></tr>
			
			<tr><th></th><td><input type="submit" th:value="#{knjiga.izmeni}"/></td></tr>
		
		</table>
		
		
	</form>
		<form method="post" action="Knjige/Delete" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${knjiga.id}"/>
			<table class="forma">
				<tr><th></th><td><input type="submit" th:value="#{knjiga.obrisi}"/></td></tr>
			</table>
		</form>
		
		<!-- FORMA ZA PRIKAZ KORISNIKU -->
		<table class="forma" th:if="${session.prijavljeniKorisnik==null or not session.prijavljeniKorisnik.administrator}">
			<caption th:text="#{knjiga.nazivTabela}"></caption>
			<tr><th th:text="#{knjiga.naziv}"></th><td th:text="${knjiga.naziv}"></td></tr>
			<tr><th th:text="#{knjiga.isbn}"></th><td th:text="${knjiga.ISBN}"></td></tr>
			<tr><th th:text="#{knjiga.izdavackaKuca}"></th><td th:text="${knjiga.izdavackaKuca}"></td></tr>
			<tr><th th:text="#{knjiga.autori}"></th><td th:text="${knjiga.autori}"></td></tr>
			<tr><th th:text="#{knjiga.godinaIzdavanja}"></th><td th:text="${knjiga.godinaIzdavanja}"></td></tr>
			<tr><th th:text="#{knjiga.opis}"></th><td th:text="${knjiga.kratakOpis}"></td></tr>
			<tr>
				<th th:text="#{knjiga.slika}"></th>
				<td>
					<ul>
						<li th:each="itSlika: ${knjiga.imagePath}"><img th:src="@{${itSlika.imagePath}}"></li>
					</ul>
				</td>
			</tr>
			<tr>
					<th th:text="#{knjiga.zanr}"></th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}" th:checked="${#lists.contains(knjiga.zanrovi, itZanr)}"/><span th:text="${itZanr.naziv}"></span><br>
						</th:block>
					</td>
			</tr>
			<tr><th th:text="#{knjiga.ocena}"></th><td th:text="${knjiga.cena}"></td></tr>
			<tr><th th:text="#{knjiga.brojStr}"></th><td th:text="${knjiga.brojStranica}"></td></tr>
			<tr><th th:text="#{knjiga.tipPoveza}"></th><td th:text="${knjiga.tipPoveza}"></td></tr>
			<tr><th th:text="#{knjiga.pismo}"></th><td th:text="${knjiga.pismo}"></td></tr>
			<tr><th th:text="#{knjiga.jezik}"></th><td th:text="${knjiga.jezik}"></td></tr>
			
			 <!--  Dodavanje knjige u korpu u sesiji -->
		                     
		                    
			
			
			
			</table>
			   <form method="post" action="Korpa/Details">
		                     
			                     <input th:value="${knjiga.id}" name="id" type="hidden" />
			                     <input th:value="${knjiga.naziv}" name="naziv" type="hidden" />
			                     
				                  
				                     
			  
				                  <input type="submit" th:value="#{knjiga.korpa}"/>
			</form>

		                     
								<form method="post" action="Zelje">
									
									
									<input th:value="${knjiga.id}"  name="knjigaId"  type="hidden"/>
									
									<input th:value="${session.prijavljeniKorisnik.korisnickoIme}" name="korisnickoIme" type="hidden"  />
									
									
									
									<input type="submit" th:value="#{knjiga.zelje}"/>
									
								</form>
								
		                     
			<div>
			<form method="post" action="Knjige/DodavanjeKomentara" th:if="${session.prijavljeniKorisnik != null and not session.prijavljeniKorisnik.administrator}">
				<input type="hidden" name="autorKomentara" th:value="${session.prijavljeniKorisnik.korisnickoIme}"/>
				<input type="hidden" name="komentarisanaKnjiga" th:value="${knjiga.id}" />
					
				<table class="forma">
					<caption th:text="#{knjiga.dodajteKomentar}"></caption>
					
					<tr><th th:text="#{knjiga.tekstKom}"></th><td><textarea type="text"  name="tekst"></textarea></td></tr>
					<tr><th th:text="#{knjiga.ocena}"></th><td>  <input name="ocena" type="number" min=1 max=5 onkeyup="if(this.value<0){this.value= this.value * -1}" oninput="if(this.value>5){this.value=5}"/></td></tr>
					<tr><th></th><td><input type="submit" th:value="#{knjiga.dodaj}"/></td></tr>
					
				</table>
			
			
			</form>
			</div>
			            
		           
					
				
			 <div>
		                <div >
		                    <h3>Komentari:</h3>
		                    
		                    <table class="komentari1" id="komentari"  >
							
							<tr>
								
									<ul>
										
									</ul>

								</tr>
							</table>
							
		
		
		                   </div>
		            </div>
		            
		           
							
		                
		
		
		                  
		          
		            
		        
		             <p class="greska"></p>
		
			
	
	
	</div>
			         
	<ul>
		<li><a  href="Knjige" th:text="#{knjiga.povratakNaSveKnjige}"></a></li>
	</ul>
	    <script src="js/jquery.min.js"></script>
     <script src="js/jquery-3.0.0.min.js"></script>
     
	<script src="js/sviKomentari.js" type="text/javascript"></script>
	  <script src="js/dodavanjeKomentara.js" type="text/javascript"></script>
</body>

</html>