<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/tablesort.css"/>
	
	<title>Knjige</title>
</head>
<body>
	<h2 th:text="#{knjige.knjizara}"></h2>
	<ul>

		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici" th:text="#{knjige.korisnici}"></a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici/PrikazKomentaraAdmin" th:text="#{komentar.sviKomentari}"></a></li>
	</ul>
	<div th:fragment="centralniDiv">
		<form method="post" action="Komentari/EditKomentaraAdmin">
	

		
			<table class="tabela">
			
				<caption th:text="#{jedanKomentar.naziv}"></caption>
				
				<tr><th th:text="#{jedanKomentar.id}"></th><td><input type="text" name="id"/></td></tr>
				
				<tr><th th:text="#{jedanKomentar.tekst}"> </th><td><input type="text"  name="tekst" readonly/></td></tr>
				
				<tr><th th:text="#{knjiga.ocena}"></th><td><input type="text" min="1" max="5"  name="ocena" readonly/></td></tr>
				
				<tr><th th:text="#{knjiga.datumKomentarisanje}"></th><td><input type="text"  name="datumKomentara" readonly/></td></tr>
				
				<tr><th th:text="#{jedanKomentar.knjiga}"></th><td><input type="text"  name="komentarisanaKnjiga" readonly/></td></tr>
				<tr><th th:text="#{jedanKomentar.autor}"></th><td><input type="text"  name="autorKomentara" readonly/></td></tr>
				
				<tr><th th:text="#{jedanKomentar.status}"></th><td><input type="text"  name="status"/></td></tr>
				
				
				
				
			
				
				<tr><th></th><td><input type="submit" th:value="#{jedanKomentar.edit}"/></td></tr>
			</table>
	</form>
	<ul>
	<li><a href="Komentari" th:text="#{komentar.sviKomentari}"></a></li>
	<li><a href="Knjige" th:text="#{knjiga.povratakNaSveKnjige}"></a></li>
	</ul>
	</div>
	<p class="greska"></p>
	
	<script src="js/jquery.min.js"></script>
     <script src="js/jquery-3.0.0.min.js"></script>
	
	<script src="js/komentarAdmin.js" type="text/javascript"></script>
	

</body>
</html>