<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/tablesort.css"/>
	
	<title>Knjige</title>
</head>
<body>
	<h2 th:text="#{knjige.knjizara}" ></h2>
	<ul>

		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici" th:text="#{knjige.korisnici}"></a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici/PrikazKomentaraAdmin" th:text="#{komentar.sviKomentari}"></a></li>
	</ul>
	
	
	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="tabela">
				<caption th:text="#{komentar.naziv}"></caption>
				<tr>
					<th th:text="#{knjige.rBr}"></th>
					<th th:text="#{korisnik.korisnickoIme}"></th>
					<th th:text="#{komentar.nazivKnjige}"></th>
					<th th:text="#{komentar.komentar}"> </th>
					<th th:text="#{komentar.datum}"></th>
					<th th:text="#{knjiga.ocena}"></th>
					<th th:text="#{komentar.odobren}"></th>
				
					<th></th>
					
				</tr>
				
				<tr th:each="itKomentar,status:${komentariAdmin}">
					<td class="broj" th:text="${status.index + 1}"></td>
					<td th:text="${itKomentar.autorKomentara.korisnickoIme}"></td>
					<td th:text="${itKomentar.komentarisanaKnjiga.naziv}"></td>
					<td><a th:href="|Komentari/KomentarAdmin?id=${itKomentar.id}|" th:text="${itKomentar.id}"></a></td>
					
					
					<td th:text="${#dates.format(itKomentar.datumKomentara, 'dd-MMM-yyyy')}"></td>
					<td th:text="${itKomentar.ocena}"></td>
					<td th:text="${itKomentar.status}? 'odobren':'neodobren' "></td>
					
					
					
				</tr>
			</table>
		</form>
		<ul>
		<li><a href="Knjige" th:text="#{knjiga.povratakNaSveKnjige}"></a></li>
	</ul>
	
	
	</div>





</body>



</html>