<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Knjige</title>
</head>
<body>
	<div th:fragment="centralniDiv">
	<form method="post" action="Korisnici/Edit">
		<input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}"/>
		<table class="forma">
			<caption th:text="#{korisnik.tabelaUser}"></caption>
			<tr><th th:text="#{korisnik.korisnickoIme}"></th><td th:text="${korisnik.korisnickoIme}"></td></tr>
			<tr><th th:text="#{korisnik.datumRegistracije}"></th><td  th:text="${korisnik.datumRegistracije}"/></td></tr>
			<tr th:if="${session.prijavljeniKorisnik.administrator}"><th th:text="#{korisnici.admin}"></th><td><input type="checkbox" name="administrator" th:checked="${korisnik.administrator}"/></td></tr>
			
			<tr th:if="${session.prijavljeniKorisnik.administrator}"><th th:text="#{korisnikAdmin.block}"></th><td><input type="checkbox" name="block" th:checked="${korisnik.block}"/></td></tr>
			
			<tr><th></th><td><input th:value="#{korisnik.edit}" type="submit"  /></td></tr>
			</table>
	</form>
	</div>
	<ul>
		<li><a href="Korisnici" th:text="#{korisnik.back}"></a></li>
	</ul>
</body>

</html>