<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/tablesort.css"/>
	
	<title>Knjige</title>
</head>
<body>
	<h2 th:text="#{knjige.knjizara}"></h2>
	
	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="tabela">
				<caption th:text="#{korisnici.naziv}"></caption>
				<tr>
	
					<th th:text="#{korisnik.korisnickoIme}"></th>
					<th th:text="#{korisnik.datumRegistracije}"></th>
					<th th:text="#{korisnici.admin}"></th>
					
					<th></th>
					
				</tr>
				<tr th:each="itKorisnik, status: ${korisnici}">
					
					<td><a th:href="|Korisnici/Details?korisnickoIme=${itKorisnik.korisnickoIme}|" th:text="${itKorisnik.korisnickoIme}"></a></td>
					<td th:text="${itKorisnik.datumRegistracije}"></td>
					<td th:text="${itKorisnik.administrator}? 'admin': 'korisnik'"></td>
					<td></td>
				</tr>
			</table>
		</form>
	
	<ul>
		<li><a href="Knjige" th:text="#{knjiga.povratakNaSveKnjige}"></a></li>
	</ul>
	</div>
</body>


</html>