<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/tablesort.css"/>
	
	<title>Knjige</title>
</head>
<body>
	<ul>

		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a  th:text="#{knjige.korisnici}" href="Korisnici" ></a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a th:text="#{knjige.komentari}" href="Komentari"></a></li>
		<li th:if="${session.prijavljeniKorisnik != null and not session.prijavljeniKorisnik.administrator}"><a th:text="#{knjige.zahtev}" href="/DodavanjeLoyaltyKartice"></a></li>
		 <li  th:unless="${session.prijavljeniKorisnik == null}" >
         <a th:text="#{knjige.ulogovaniKorisnik}" th:href="|Korisnici/Profil?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" > </a>
         </li>
            <li th:if="${session.prijavljeniKorisnik != null and not session.prijavljeniKorisnik.administrator}"><a th:text="#{knjige.korpa}" href="Korpa"></a> </li>
         <li th:unless="${session.prijavljeniKorisnik == null}"><a th:text="#{knjige.logOut}" href="Korisnici/Logout"></a></li>
     
		
	</ul>
	
	
	<div th:fragment="centralniDiv">
		<form method="post" action="Korpa/Kupi" th:unless="${session.izabraneKnjigeKorisnik.empty}">
			<table class="forma">
				<caption th:text="#{korpa.tekst}"></caption>
				<tr>
					<th th:text="#{knjiga.rBr}"></th>
					<th th:text="#{knjiga.naziv}"></th>
					<th th:text="#{knjiga.autori}"></th>
					<th th:text="#{korpa.brojKnjiga}"> </th>
					<th th:text="#{knjiga.cena}"> </th>
					
				
				
					<th></th>
					
				</tr>
					<tr th:each="itKnjiga,status:${session.izabraneKnjigeKorisnik}">
					<td class="broj" th:text="${status.index+1}"></td>
					<td><a th:href="|Knjige/Details?id=${itKnjiga.id}|" th:text="${itKnjiga.naziv}" name="naziv"></a></td>
					<td th:text="${itKnjiga.autori}"></td>
					<td ><input  class="brojKnjiga" name="brojKnjiga" /></td>
					<td><input th:value="${itKnjiga.cena}" name="cena"  readonly/></td>
					</table>
				</form>
		
		</div>
		<div>
				<form method="get" action="Korpa/Kupi">
					<table class="forma">
						<tr>
							<th th:text="#{korpa.ukupnoZaSve}"></th>
							<th th:text="#{korpa.kupi}"></th>
						</tr>
						<tr>
							<td type="text"></td>
							<td><button type="submit"  th:text="#{korpa.kupi}"></button></td>
						</tr>
					</table>
				</form>
				</div>
				
			<div>
			
				<form method="post" action="Korpa/Delete" >
		
				<div   th:unless="${session.izabraneKnjigeKorisnik.empty}"  >
	
    	
				<ul>
					
			
					<li name="line_items" th:each="itKnjiga,status: ${session.izabraneKnjigeKorisnik}">
					
					<span th:text="#{korpa.obrisiTekst}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					
					<span><a th:href="|Knjiga/Details?id=${itKnjiga.id}|" th:text="${itKnjiga.naziv}" name="naziv"></a></span>
				
					<span><input type="hidden" th:value="${itKnjiga.id}" name="id"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					
					<button type="submit" th:text="#{korpa.obrisi}"></button>
					<br>
					<br>
					
					</li>
				 </ul>		
				
		</div>
		
		
		</form>
	
			</div>
			
			
	
		<ul>
		<li><a href="Knjige" th:text="#{knjiga.povratakNaSveKnjige}"></a></li>
	</ul>
</body>
</html>