<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Prijava</title>
</head>
<body>
	<h2>Knjizara</h2>
	<form method="post" action="Korisnici/Login">
	<table class="forma">
		<caption>Prijava</caption>
		<tr><th>Korisnicko ime:</th><td><input type="text" name="korisnickoIme"/></td></tr>
		<tr><th>Lozinka:</th><td><input type="password" name="lozinka"/></td></tr>
		<tr><th></th><td><input type="submit" value="Prijavi se"/></td></tr>
	</table>
	
	</form>
	<p class="greska" th:text="${poruka}"></p>
</body>
</html>