
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>

<title>Profil korisnika</title>
</head>
<body>
<div th:fragment="centralniDiv">
<table class="forma">
			<caption th:text="#{korisnik.tabelaUser}"></caption>
			<tr><th th:text="#{korisnik.korisnickoIme}"></th><td><input type="text" disabled="disabled" th:value="${korisnik.korisnickoIme}" name="korisnickoIme"/></td></tr>
			<tr><th th:text="#{korisnik.email}"></th><td ><input disabled="disabled" type="text" th:value="${korisnik.eMail}"  name="isbn"/></td></tr>
			<tr><th th:text="#{korisnik.ime}"></th><td><input disabled="disabled" type="text" th:value="${korisnik.ime}" name="ime"/></td></tr>
			<tr><th th:text="#{korisnik.prezime}"></th><td><input disabled="disabled" type="text"  th:value="${korisnik.prezime}" name="prezime"/></td></tr>
			<tr><th th:text="#{korisnik.adresa}"></th><td><input disabled="disabled" type="text"  th:value="${korisnik.adresa}" name="adresa"/></td></tr>
			<tr><th th:text="#{korisnik.broj}"></th><td><input disabled="disabled" type="text" th:value="${korisnik.broj}" name="broj"/></td></tr>
			<tr><th th:text="#{korisnik.datumRegistracije}"></th><td><input disabled="disabled" type="text" th:value="${#temporals.format(korisnik.datumRegistracije,'dd/MM/yyyy')}" name="datumRegistracihe"/></td></tr>
			<tr><th th:text="#{korisnik.datumRodjenja}"></th><td><input disabled="disabled" type="date" th:value="${korisnik.datumRodjenja}" name="datumRodjenja"/></td></tr>
			
			
		</table>
		
		</div>
		<ul>
		<li><a th:text="#{knjiga.povratakNaSveKnjige}" href="Knjige">Povratak na sve knjige</a></li>
	</ul>
</body>
</html>