<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Registracija</title>
</head>
<body>
	<h2>Knjizara</h2>
	<form method="post" action="Korisnici/Register">
	<table class="forma">
		<caption>Registracija</caption>
		<tr><th>Korisnicko ime:</th><td><input type="text" name="korisnickoIme"/></td></tr>
		<tr><th>Lozinka:</th><td><input type="password" name="lozinka"/></td></tr>
		<tr><th>Ponovljena lozinka:</th><td><input type="password" name="ponovljenaLozinka"/></td></tr>
		<tr><th>Email::</th><td><input type="text" name="eMail"/></td></tr>
		<tr><th>Ime:</th><td><input type="text" name="ime"/></td></tr>
		<tr><th>Prezime:</th><td><input type="text" name="prezime"/></td></tr>
		<tr><th>Adresa:</th><td><input type="text" name="adresa"/></td></tr>
		<tr><th>Broj:</th><td><input type="text" name="broj"/></td></tr>
		<tr><th>Datum rodjenja:</th><td><input type="date" name="datumRodjenja"/></td></tr>
		<tr><th></th><td><input type="submit" value="Register"/></td></tr>
	</table>
	</form>
	<p class="greska" th:text="${poruka}"></p>
</body>
</html>