<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>

<title>Lista zelja</title>
</head>

<div th:fragment="centralniDiv">
			<table class="forma">
			<tr>
					<th th:text="#{knjiga.rBr}"></th>
					<th th:text="#{knjiga.naziv}"></th>
					<th th:text="#{knjiga.cena}"> </th>
					
				</tr>

				<tr th:each="itKorpa, status: ${korpaZaKorisnika}">
					<td class="broj" th:text="${status.index+1}"></td>
					<td><a th:href="|Knjige/Details?id=${itKorpa.knjiga.id}|" th:text="${itKorpa.knjiga.naziv}"></a></td>
					<td  class="broj" th:text="|${itKorpa.knjiga.cena} rsd|"></td>
					
				</tr>
				</table>
			<div>
			<ul>
					
					<li name="line_items" th:each="itKorpa,status: ${korpaZaKorisnika}">
					
					<form method="post" action="Zelje/Obrisi" >
						
					<span th:text="#{knjiga.brisanjeIzKorpe}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					
					<span><a th:href="|Knjige/Details?id=${itKorpa.knjiga.id}|" th:text="${itKorpa.knjiga.naziv}" ></a></span>
				
					<span><input type="hidden" th:value="${itKorpa.id}" name="korpaId"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<span><input type="hidden" th:value="${session.prijavljeniKorisnik.korisnickoIme}" name="korisnickoIme"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					
					<button type="submit" th:text="#{knjiga.obrisiKnjigu}"></button>
					<br>
					<br>
				
					</li>
				 
				 </form>
				 </ul>
				 </div>
			
			
		</div>
		<ul>
		<li><a href="Knjige" th:text="#{knjiga.povratakNaSveKnjige}"></a></li>
	</ul>
</body>
<body>


</body>
</html>