table.horizontalni-meni {
	margin-top: 20px;
}

table.horizontalni-meni caption {
	font-size: 16pt
}

table.horizontalni-meni ul {
	display: inline;
	padding: 0;
}

table.horizontalni-meni li {
	float: left;
	padding: 5px;
	margin: 2px;
	display: inline;
	background-color: White;
}

table.horizontalni-meni td {
	background-color: DodgerBlue;
}